.content {
  max-width: 800px;
  margin: auto;
}
.first {
  background-color: #f5f2f2;
  width: 800px;
  height: 30px;
}
.first label {
  color: #0072bc;
}
select {
  margin: 5px 0 5px 5px;
  border-width: 0px;
  background-color: #f5f2f2;
}
.second {
  margin: 2px 2px;
}
.second button {
  width: 70px;
}

.third {
  float: left;
  width: 350px;
  margin-right: 10px;
}

.third input[type="text"] {
  width: 120px;
}

.third th {
  text-align: left;
}
.fourth {
  float: right;
  width: 350px;
  margin-left: 0px;
}

.fourth input[type="text"] {
  text-align: end;
  width: 220px;
}

.fourth th {
  text-align: left;
}

.fourthh {
  float: right;
  width: 200px;
  margin-left: 0px;
}

.fourthh input[type="text"] {
  text-align: end;
  width: 100px;
}

.fourthh th {
  text-align: left;
}

.fifth {
  border: gray solid 1px;
}

tbody {
  border-bottom: black 1px dashed;
}
